.input {
		display: block;
    width: 400px;
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    margin: 0 auto;
     margin-top:10px ;
}

.button {
  display: block;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 22px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 0 auto;
  margin-top:10px ;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  
}