* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-item {
  width: 320px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
  text-align: left;
  border: 1px solid #dbdbdb;
}

.product-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.product-title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin: 0 0 4px;
}

.product-category {
  font-size: 14px;
  color: #777;
  margin: 0 0 8px;
}

.product-text {
  font-size: 13px;
  color: #999;
  margin-bottom: 20px;
}

.product-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.product-price {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.add-to-card-button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 22px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.add-to-card-button:hover {
  background-color: #333;
}

.products-content {
  display:flex;
  gap: 20px ;
}

.filter-sidebar {
  width: 200px;
  height: 120vh;
  border-right: 1px solid #e0e0e0;

  position: sticky;
  top: 40px;
}

.filter-sidebar ul {
  list-style: none;

  padding: 20px;
  margin: 0;
}

.filter-sidebar  input {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.filter-sidebar li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
